{% extends "check_base.html" %} 

{% block title %} Home Page
{% endblock %}

{% block style %}
<link
rel="stylesheet"
type="text/css"
href="{{ url_for('static',filename='styles/style_home.css') }}"
/>
{% endblock %}

{% block active_home %}active{% endblock %}
{% block main_content %}
        <!---------post area ----------->
        <div class="middle">
            <form action="/user/create_blog" class="create-post" method="post" enctype="multipart/form-data">
                <div class="profile-photo">
                    <img src="/static/Profile/{{user.id}}/profile.jpg" alt="user_profile picture" >
                </div>
                <input type="text" placeholder="Title" id="title" name="title" required minlength="3"> 
                <input type="text" placeholder="What's on your mind?" id="content" name="content" required minlength="3">
                <input type="file"  id=" create-post" name="picture"> 
                <button type="sumbit"  class="btn btn-primary">Post </button>
            </form>

    

        <div class="feeds">
            {% for post in posts %}
            <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            {% if post['profile'] %}
                            <img src="data:image/*;charset=utf-8;base64,{{ post['profile'] }}" alt="">
                            {% else %}
                            <img src="/static/img/user_profile.webp" alt="post user_profile picture">
                            {% endif %}

                        </div>
                        <div class="info">
                            <a href="/user/profile/{{post['data']['user_id']}}">
                            <h3>{{ post['post_user'] }}</h3></a>
                            <small>{{ post['data']['created_on'] }}</small>
                        </div> 
                    </div>
                    {% if user.id == post['data']['user_id'] %}
                    <span class="edit">
                        <a href="/user/blog/delete/{{ post['data']['id'] }}"  class="edit" id = 'delete'>Delete</a>
                    </span>
                    {% endif %}
                    
                </div>
                <div class="caption">
                    <p> <b> # {{ post['data']['tittle'] }}</b> <br> {{ post['data']['content'] }}
                    </p>
                </div>
                {% if post['img'] %}
                <div class="photo">
                    
                    <img src="data:image/*;charset=utf-8;base64,{{ post['img'] }}" alt="...">
  
                </div>
                {% endif %}
                <div class="action-buttons">
                    <div class="iteractive-button">
                        <button class="btn btn-primary" onclick="like(event),this.disabled=true"  data-blog_id="{{post['data']['id']}}"
                        id="button-like-{{post['data']['id']}}">Like  👍 </button> 
                    </div>
                </div>
                <div class="liked-by" >
                    <p>like by <b id="like-count-{{ post['data']['id'] }}" >{{ post['data']['likes'] }} </b> people</p>
                </div>
                <div class="comment-section" id="comments_{{ post['data']['id'] }}">
                    {% if post['comments']  | length >0 %}

                    {% for i,comment in post.comments.items() %}
                    <div class="comment">
                        <h5>{{i}}</h5>
                        <p>{{comment}}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="comments text-muted">
                    <form action="#" class="add-comment" data-blog_id="{{ post['data']['id'] }}" method="post"
                    id="commentForm-{{ post['data']['id'] }}" onsubmit="add_comment(event)">
                        <div class="profile-photo">
                            <img src="/static/Profile/{{user.id}}/profile.jpg" alt="/static/img/user_profile.webp">
                        </div>
                        <input type="text" placeholder="Add your comment..." id=" add-comment" name="comment"> 
                      
                        <button type="sumbit" class="btn btn-primary" id="add-comment">Add Comment </button>
                    </form>
                </div>
                
            </div>

            {% endfor %}
        </div>
    </div>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/style_home.css') }}"
    />
    <script>
        function like(event){
    blog = event.target
    blog_id = blog.dataset.blog_id
  
  fetch('/blog/like/'+blog_id, {method: 'POST'}).then(function() {
    // Update the like count on the page
    var likeCount = document.getElementById('like-count-'+blog_id);
    var likevar = document.getElementById('button-like-'+blog_id)
    likevar.innerHTML =  'Liked';
    likevar.style.background ='green';
    likeCount.innerHTML = parseInt(likeCount.innerHTML) + 1;
    

  });
  };

  function add_to_html(comment,section){
  commentsSection = document.getElementById(section); 
  commentElement = document.createElement('div');
    commentElement.classList.add('comment');
    commentElement.textContent = comment;
        // add the comment to the comments section
    commentsSection.appendChild(commentElement);
    event.target.reset();
};
    function add_comment(event){
      event.preventDefault();
      const blog = event.target;
      blog_id = blog.dataset.blog_id;
      var section = 'comments_'+blog_id
      const comment = event.target.elements.comment.value;
      fetch('/user/blog/comment/'+comment+'/id/'+blog_id,{method:'POST'}).then(
      add_to_html(comment,section))
    };

    </script>
{% endblock %} 