{% extends "check_base.html" %} 

{% block title %} Search Page
{% endblock %}

{% block style %}
<link
rel="stylesheet"
type="text/css"
href="{{ url_for('static',filename='styles/style_search.css') }}"
/>
{% endblock %}

{% block main_content %}

        <div class="middle">
            <div class="content-title">
                
                <h2>Search results : {{ search_key }}</h2>
            {% if not_found %}
                <div class="not-found">
                    <h3>No Results found for {{ search_key}} </h3>
                </div>
                <h3> Similar names for :  {{ search_key }}</h3>
            </div>
            {% endif %}
            {% for user_ in user_list %}
            <div class="search-result">
                <div class="user">
                    <div class="profile-photo">
                        {% if user_['profile'] %}
                        <img src="data:image/*;charset=utf-8;base64,{{ user_['profile'] }}" alt="">
                        {% else %}
                        <img src="/static/img/user_profile.webp" alt="post user_profile picture">
                        {% endif %}                    </div>
                    <div class="info">
                        <a href="/user/profile/{{ user_['data']['id'] }}">
                        <h3>{{ user_['data']['first_name'] }} {{ user_['data']['last_name'] }}</h3></a>
                        <small>{{user_['data']['user_name'] }}</small>
                    </div> 
                </div>
                <div class="action-buttons" >
                    {% if user_['data'].id in follow_list %}
                    <div class="un-follow" onclick="unfollow(event),this.disabled=true">
                        <button class="btn btn-primary" id="buttonunfollow-{{user_['data']['id']}}" data-unfollow_id="{{ user_['data']['id'] }}">Un-Follow</button>
                    </div>
                    {% else %}
                    <div class="follow" id="follow-div-{{user_['data']['id']}}" onclick="follow(event),this.disabled=true" >
                    <button class="btn btn-primary" id="buttonfollow-{{user_['data']['id']}}" data-follow_id="{{ user_['data']['id'] }}">Follow</button>
                    </div>

                    {% endif %}
                </div>
            </div>
            {% endfor %}

        
        </div>
        <script src="../static/js/follow_check.js"></script>
{% endblock %}
